.featured-stories-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  columns: 2 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  flex: 1 1 30%;
  flex-flow: row wrap;
  
  
  
} 
