.mapped-images {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 350px 350px;
  justify-content: space-evenly;
  padding: 100px;
  justify-items: center;
  height: 100vh;
  overflow-y: auto;
}
