.continent-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: auto;
  max-width: 100%;
  padding: 70px 0 70px 0;
}
.continent-button {
  width: auto;
  max-width: 100px;
  flex-direction: row;
}

.continent-img {
  background: #324a51;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 8px;
  border-color: #324a51;
}

.continent-button:hover .continent-img {
  border: solid lightblue 5px;
}

p {
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
}
.continet-title {
  
  justify-content: center;
}
