footer {
  display: flex;
  width: 100vw;
  background-color: #324a51;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 5vh 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  z-index: 0;
  width: 100%;
}

.footer-logo {
  color: white;
  text-decoration: none;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.github-logo {
  z-index: 1;
  max-width: 12vw;
}

.footer-block-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-block-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 100%;
  width: 100%;
  font-size: 0.9em;
}

.footer-block-three {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.footer-github-links {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  gap: 10px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  gap: 10px;
}

.continent-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 0.9em;
  padding-right: 5vw;
}

.footer-titles {
  font-family: "Sulphur Point", sans-serif;
  vertical-align: baseline;
  text-align: center;
}

.f-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.c-link-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.c-link {
  display: flex;
  color: white;
  text-decoration: none;
  flex-flow: row wrap;
  flex: 1;
}

.m-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.c-link-list1,
.c-link-list2,
.c-link-list3 {
  display: flex;
  flex-direction: column;
}

.c-link-list1 {
  display: flex;
  width: 50%;
}

.c-link-list2 {
  display: flex;
  width: 50%;
}

.c-link-list3 {
  display: flex;
}
