footer {
  display: flex;
  width: 100vw;
  background-color: #324a51;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 2vh 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  z-index: 0;
  width: 100%;
  bottom: 0;
}

.footer-logo {
  color: white;
  text-decoration: none;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 800;
  font-size: 2.4em;
  text-align: center;
}

.github-logo {
  z-index: 1;
  max-width: 12vw;
  margin-top: 15px;
}

.github-image {
  width: 100%;
}

.footer-block-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-block-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 100%;
  width: 100%;
  font-size: 0.9em;
}

.footer-block-three {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.footer-github-links {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  gap: 10px;
}

.menu-links {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
}

.continent-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 0.9em;
  padding-right: 5vw;
}

.footer-titles {
  font-family: "Sulphur Point", sans-serif;
  font-size: 1.6em;
  vertical-align: baseline;
  text-align: center;
  text-decoration: underline;
}

.f-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  font-size: 1em;
}

.c-link-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.c-link,
.c-link2 {
  display: flex;
  color: white;
  text-decoration: none;
  flex-flow: row wrap;
  flex: 1;
  font-size: 1em;
}

.m-link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  font-size: 1em;
}

.c-link-list1,
.c-link-list2 {
  display: flex;
  flex-direction: column;
}

.c-link-list1 {
  display: flex;
  width: 50%;
  white-space: nowrap;
}

.c-link-list2 {
  display: flex;
  width: 50%;
  margin-bottom: 25px;
}

.c-link:hover,
.c-link2:hover {
  text-decoration: underline;
}

.link {
  margin-bottom: 10px;
  color: black;
}

@media only screen and (max-width: 1390px) {
  .footer-logo {
    font-size: 2.2em;
  }

  .footer-titles {
    font-size: 1.5em;
  }

  .c-link,
  .c-link2,
  .m-link,
  .f-link,
  .link {
    font-size: 0.9em;
  }

  .footer-block-two {
    width: 90%;
  }
}

@media only screen and (max-width: 1251px) {
  .footer-logo {
    font-size: 2em;
  }

  .footer-titles {
    font-size: 1.4em;
  }

  .c-link,
  .c-link2,
  .m-link,
  .f-link,
  .link {
    font-size: 0.8em;
  }

  .footer-block-two {
    width: 80%;
  }
}

@media only screen and (max-width: 1111px) {
  .footer-logo {
    font-size: 1.8em;
  }

  .footer-titles {
    font-size: 1.3em;
  }

  .c-link,
  .c-link2,
  .m-link,
  .f-link,
  .link {
    font-size: 0.7em;
  }

  .c-link {
    margin-bottom: 3px;
  }
}

@media only screen and (max-width: 795px) {
  .footer-logo {
    font-size: 1.6em;
  }

  .c-link-container {
    flex-flow: column wrap;
  }

  .footer-titles {
    font-size: 1.2em;
  }

  .c-link-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 795px) {
  .c-link-container {
    flex-flow: column wrap;
  }
}
