.create-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dyyjvyqtn/image/upload/v1634234660/Norway2-reduced_uetjc3.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.banner-text {
  color: white;
  font-family: "Sulphur Point", sans-serif;
  font-size: 36px;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.create-form-input {
  border: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  margin-left: 15px;
  font-size: 18px;
  width: 93vw;
}

.create-form-input::placeholder {
  color: black;
  opacity: .75;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.create-submit-button {
  justify-self: center;
  color: black;
  background: transparent;
  border: solid black 2px;
  margin: 15px;
  margin-bottom: 50px;
  padding: 10px;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
  width: 100px;
}