.sign-up-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dyyjvyqtn/image/upload/v1634174491/ImaraMuruPeru-resize_zxi2pz.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.sign-up-header {
  font-family: "Sulphur Point", sans-serif;
  font-size: 38px;
  font-weight: 900;
}

.sign-up-message {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.sign-up-credentials-container {
  display:flex;
  flex-direction: row;
}

.sign-up-credentials {
  display: flex;
  flex-direction: column;
}

.sign-up-input {
  background-color: #324a51d4;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 15px;
  padding: 5px 0 5px 5px;
  font-size: 18px;
}

::placeholder {
  color: white;
  opacity: .75;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  justify-self: center;
  color: white;
  background: transparent;
  border: solid white 2px;
  margin: 15px;
  padding: 10px;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
  width: 100px;
}