.sign-in-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/Isfahan-music-resized.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: #324a5185;
  color: white;
  padding: 20px;
  margin: 50px;
  width: 50vw;
}

.sign-in-header {
  font-family: "Sulphur Point", sans-serif;
  font-size: 38px;
  font-weight: 900;
}

.sign-in-input {
  background-color: #324a51d4;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 15px;
  padding: 5px 0 5px 5px;
  font-size: 18px;
}

::placeholder {
  color: white;
  opacity: 0.75;
}

.submit-button {
  text-align: center;
  color: white;
  background: transparent;
  border: solid white 2px;
  margin: 15px;
  padding: 10px;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}

@media only screen and (max-width: 860px) {
  .form-container {
    width: 70vw;
  }
}
