.home-banner-container {
  display: flex;
  flex-wrap: wrap;
  display: row;
  background-image: url("../../images/33Pol-banner.JPG");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 25px;
  z-index: 0;
}

.home-banner-text {
  display: flex;
  color: white;
  background-color: #324a5176;
  width: 100%;
  height: 17vh;
  min-height: 100px;
  max-height: 150px;
  padding-left: 15px;
  font-family: "Sulphur Point", sans-serif;
  font-size: 34px;
  font-weight: 800;
  z-index: 1;
  align-items: flex-start;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
}

.home-banner-description {
  text-align: left;
  color: white;
  width: 100%;
  height: 45px;
  min-height: 100px;
  max-height: 150px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-family: "Sulphur Point", sans-serif;
  font-size: 18px;
  font-weight: 800;
  z-index: 1;
  align-items: left;
  flex-direction: column;
  align-self: center;
}

.explore-section {
  height: 45vh;
}

.featured-stories-div-container {
  width: 100%;
}

@media only screen and (max-width: 810px) {
  .explore-section {
    height: 55vh;
  }
}

@media only screen and (max-width: 463px) {
  .explore-section {
    height: 75vh;
  }
}

@media only screen and (max-width: 360px) {
  .explore-section {
    height: 95vh;
  }
}

@media only screen and (max-width: 319px) {
  .home-banner-description {
    font-size: 24px;
    font-family: "Sulphur Point", sans-serif;
  }
}
