nav {
  flex: 1;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 60px;
}

.header-logo {
  width: 33%;
  font-family: "Sulphur Point", sans-serif;
  font-weight: 800;
  font-size: 38px;
  color: black;
  text-decoration: none;
}

.header-welcome {
  margin: 0 15vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: "Open Sans";
  color: black;
  justify-items: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: end;
  font-family: "Open Sans";
  color: black;
  text-decoration: none;
}
