.story-card-container {
  display: flex;
  flex-direction: row;
  width: 370px;
  height: auto;
  margin-top: 50px;
}

.story-card-image-container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 10px;
}

.story-card-image-container p {
  margin-top: 10px;
  margin-bottom: -3px;
  padding: 0;
}

.story-card-text {
  font-family: "Open Sans", sans-serif;
}

.stories-image {
  margin: 0 auto;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
}

@media only screen and (max-width: 900px) {
  .stories-image {
    width: 40vw;
    height: 40vw;
  }
}

@media only screen and (min-width: 1100px) {
  .story-card-container {
    width: 34vw;
  }

  .stories-image {
    width: 25vw;
    height: 25vw;
  }
}

@media only screen and (max-width: 600px) {
  .story-card-image-container {
    font-size: 0.75em;
  }
}
