.story-card-container {
  display: flex;
  flex-direction: row;
  width: 370px;
  height: auto;
}

.story-card-image-container {
  display: flex;
  flex-direction: column;
  height: auto;

}

.story-card-image-container p {
  margin-top: 5px;
  padding: 0;
}

.stories-image {
  margin: 0 auto;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}